header {
    /* text-align: center; */ /* 移除將 header 元素內容置中的樣式 */
    border-bottom: 2px solid black; /* 添加底部黑色分隔線 */
    padding-bottom: 10px; /* 添加底部間距 */
}

nav ul {
    padding: 0;
    /* margin: 0 auto; */ /* 移除將 ul 元素水平置中的樣式 */
    /* display: inline-block; */ /* 移除將 ul 元素變成行內元素的樣式 */
}

nav ul li {
    list-style: none; /* 移除列表樣式 */
    display: inline; /* 讓列表項目橫向排列 */
    margin-right: 10px; /* 設置列表項目之間的間距 */
}

nav a {
    text-decoration: none; /* 移除連結的下劃線 */
    color: black; /* 設置連結文字顏色為黑色 */
    font-weight: bold; /* 加粗字體 */
    font-size: 16px; /* 調整字體大小 */
}

nav a:hover {
    border-bottom: 2px solid black; /* 添加懸停時的底部黑色分隔線 */
}

/* CSS styles for the alert box */
#alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 9999; /* Ensure the alert is above other elements */
    transition: top 0.5s ease-in-out; /* Smooth transition when showing/hiding */
    display: none; /* Initially hidden */
}

/* Show class for displaying the alert */
.show {
    top: 50px; /* Display alert below the header */
    display: block; /* Show the alert */
}
